<launch>
  <arg name="use_rviz" default="true" />
  <arg name="auto_set_mode" default="true" />
  <arg name="command_topic" default="/tao_arm/joints_protocol_units" />
  <arg name="tx_topic" default="/tao_serial/tx" />

  <node pkg="tao_serial" type="tao_moveit_bridge.py" name="tao_moveit_bridge" output="screen">
    <param name="action_name" value="arm_controller/follow_joint_trajectory" />
    <param name="command_topic" value="$(arg command_topic)" />
    <param name="tx_topic" value="$(arg tx_topic)" />
    <param name="use_tx_command" value="true" />
    <param name="publish_shadow_topic" value="false" />
    <param name="auto_set_mode" value="$(arg auto_set_mode)" />
    <rosparam param="arm_joint_names">[arm_0_joint, arm_1_joint, arm_2_joint, arm_3_joint, arm_4_joint]</rosparam>
    <rosparam param="protocol_offsets">[0.0, 0.0, 1.602, 1.523, 0.0, 0.0]</rosparam>
    <rosparam param="protocol_signs">[1, 1, 1, 1, 1, 1]</rosparam>
    <param name="protocol_scale" value="1000.0" />
    <param name="protocol_min" value="-30000" />
    <param name="protocol_max" value="30000" />
    <param name="default_duration_ms" value="500" />
    <param name="min_duration_ms" value="50" />
    <param name="max_duration_ms" value="5000" />
  </node>

  <include file="$(find yeahbot_c1_moveit_config)/launch/demo.launch">
    <arg name="moveit_controller_manager" value="simple" />
    <arg name="use_rviz" value="$(arg use_rviz)" />
  </include>
</launch>